<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>

      <h2 class="mt-3">New book</h2>


    </div>
    <div class='col-md-8 offset-md-1'>
      <h2>GroupDetails</h2>
      <table class="table">
        <thead>
          <tr>
            <td>グループ名</td>
            <td>紹介文</td>
            <td>編集</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @group.name %></td>
            <td><%= @group.introduction %></td>
            <td>
              <% if @group.user_id == current_user.id %>
                <%= link_to "edit", edit_group_path(@group.id) %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>